{% import "forms.twig" as forms %}

<form class="mb-3 custom-form form-search-admin" data-url="usuarios/search">
    <input type="hidden" name="id_type" value="{{type}}">
    <div class="box mb-2">
        <div class="box-block bg-white">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    {{forms.label('Status')}}
                    <select name="status" class="form-control">
                        <option value="">-- TODOS --</option>
                        <option value="1">Ativo</option>
                        <option value="0">Bloqueado</option>
                    </select>
                </div>
                <div class="col-md-3 col-sm-12 col-xs-12 form-group">
                    {{forms.label('Buscar por: nome ou e-mail')}}
                    <input type="text" name="search" class="form-control">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    {{forms.label('DT/Inicial')}}
                    <input type="date" class="form-control" name="date_insert">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 form-group">
                    {{forms.label('DT/Final')}}
                    <input type="date" class="form-control" name="date_final">
                </div>
            </div>
        </div>
        <div class="card-footer text-xs-right">
            <button type="submit" class="btn btn-primary label-left">
                <div class="btn-label">
                    <i class="ti-filter"></i>
                </div>
                Filtrar
            </button>
        </div>
    </div>
</form>