{% import "forms.twig" as forms %}

<form class="modal fade form-file" data-url="consumidores/save" id="modal-new-consumer">
    <input type="hidden" name="id" />
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Consumidor</h3>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body clearfix">
                <div class="form-group">
                    {{forms.label("Nome:")}}
                    <input type="text" class="form-control" name="name" required>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label("E-mail:")}}
                        <input type="email" class="form-control" name="email">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label("Telefone/Celular:")}}
                        <input type="tel" class="form-control mask-telefone" name="phone">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label("CPF:")}}
                        <input type="tel" name="cpf" class="form-control mask-cpf">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label("CNPJ:")}}
                        <input type="tel" name="cnpj" class="form-control mask-cnpj">
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <button type="reset" class="btn btn-danger mr-1 label-left" data-dismiss="modal">
                        <div class="btn-label">
                            <i class="ti-close"></i>
                        </div>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success label-left">
                        <div class="btn-label">
                            <i class="ti-save"></i>
                        </div>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>