{% extends 'layout.twig' %}

{% import "forms.twig" as forms %}

{% block title_page %}
Meu Perfil
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active"> Meu Perfil</li>
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-3 col-md-12 col-12">
        <div class="card profile-card mt-0 mb-2">
            <div class="profile-avatar">
                <img style="width:60px;height:60px;display:block;margin: auto" src="{{asset('img/user.svg')}}"
                    alt="User Icon">
            </div>
            <div class="card-block">
                <h4 class="mb-0-25 text-uppercase">{{user_logged().getNome()}}</h4>
                <p class="mb-0-25">{{user_logged().getTypeObject().ref}}</p>
            </div>
            <ul class="list-group">
                <a class="list-group-item" href="javascript:void(0)">
                    <i class="ti-email mr-0-5"></i> {{user_logged().getEmail()}}
                </a>
                <a class="list-group-item" href="#">
                    <i class="ti-mobile mr-0-5"></i> {{user_logged().getTelefone()}}
                </a>
            </ul>
        </div>
        <a href="{{path_for('login.logout')}}" class="btn btn-danger label-left">
            <div class="btn-label">
                <i class="ti-power-off"></i>
            </div>
            Sair
            <a>
    </div>
    <div class="col-lg-9 col-md-12 m-t-mobile m-t-ipad col-12">
        <form autocomplete="off" class="form-file custom-form" method="post" data-url="usuarios/save"
            data-action="/perfil" enctype="multipart/form-data">
            <input type="hidden" name="token" value="{{user_logged().getToken()}}">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            {{ forms.label('E-mail') }}
                            <input type="email" name="email" value="{{user_logged().getEmail()}}" required
                                maxlength="250" class="form-control" />
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            {{ forms.label('Login','No máximo 15 caracteres') }}
                            <input type="text" name="login" required maxlength="20" value="{{user_logged().getLogin()}}"
                                class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8 col-xs-12">
                            {{ forms.label('Nome') }}
                            <input type="text" name="nome" required minlength="3" value="{{user_logged().getNome()}}"
                                class="form-control text-uppercase" />
                        </div>
                        <div class="form-group col-md-4 col-xs-12">
                            {{ forms.label('Celular/Whatsapp') }}
                            <input type="text" name="telefone" value="{{user_logged().getTelefone()}}" required
                                class="form-control mask-telefone" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-xs-12">
                            {{ forms.label('Senha','No mínimo 6 caracteres') }}
                            <input type="password" autocomplete="off" placeholder="Não alterar para manter" name="senha"
                                minlength="6" maxlength="20" class="form-control" />
                        </div>
                        <div class="form-group col-md-6 col-xs-12">
                            {{ forms.label('Repita a Senha') }}
                            <input type="password" autocomplete="off" name="rsenha" minlength="6" maxlength="20"
                                placeholder="Repita a senha" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="card-footer text-xs-right">
                    <button type="submit" class="btn btn-success label-left">
                        <div class="btn-label">
                            <i class="ti-save"></i>
                        </div>
                        Salvar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}