{% extends "layout.twig" %}

{% import 'forms.twig' as forms %}

{% block title_page %}
Formas de Entrega
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active">Configurações</li>
<li class="breadcrumb-item active">Formas de Entrega</li>
{% endblock %}

{% block modals %}
<form id="modal-new-envio" method="POST" class="modal fade form-file" enctype="multipart/form-data"
    data-url="formas-envio/save">
    <input type="hidden" name="id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal"><i class="ti-close"></i></div>
                <h3 class="modal-title">Forma de Entrega</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    {{forms.label('Título')}}
                    <input type="text" class="form-control" required name="title">
                </div>
            </div>
            <div class="modal-footer text-xs-right">
                <button type="submit" class="btn btn-success label-left">
                    <div class="btn-label">
                        <i class="ti-save"></i>
                    </div>
                    Salvar
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block links %}
<button type="button" class="btn btn-success btn-new label-left" data-target="#modal-new-envio">
    <div class="btn-label">
        <i class="ti-plus"></i>
    </div>
    Novo
</button>
{% endblock %}

{% block main %}

<div class="box bg-white">
    <div class="card-body list-box p-0">
        <div class="table-responsive">
            <table class="table table-bordered mb-md-0">
                <thead>
                    <tr>
                        <th width="90" class="text-center text-uppercase">ID</th>
                        <th>Título</th>
                        <th width="220" class="text-center">Data de Cadastro</th>
                        <th width="160" class="text-xs-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                        <tr>
                            <td class="text-center vertical-middle">
                                {{item.id}}
                            </td>
                            <td class="vertical-middle">
                                {{item.title}}
                            </td>
                            <td class="vertical-middle text-xs-center">
                                {{item.date_insert|date('d/m/Y \\à\\s H:i')}}
                            </td>
                            <td class="text-xs-center vertical-middle">
                                <div class="btn-group">
                                    <button class="btn btn-success" onclick="editClick(this)" data-editar="{{item|json_encode}}" data-target="#modal-new-envio">
                                        <i data-toggle="tooltip" title="Editar" class="ti-pencil"></i>
                                    </button>
                                    <button type="button" class="btn btn-danger" onclick="removeClick(this)" data-link="formas-envio/delete" data-excluir="{{item.id}}">
                                        <i data-toggle="tooltip" title="Remover" class="ti-close"></i>
                                    </button>
                                </div>
                            </td>
                        </tr> 
                    {% else %}
                        {% include 'helpers/not_found_tr.twig' with {'colspan' : 4} %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
        $('.btn-new').on('click', function (element) {
            $($(this).data('target')).find('input').val('');
            $($(this).data('target')).find('select').val('');
            $($(this).data('target')).modal('toggle');
        });
    });
</script>
{% endblock %}