{% extends 'layout.twig' %}

{% import 'forms.twig' as forms %}

{% block title_page %}
    Enviar Notificação
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Configurações</li>
    <li class="breadcrumb-item active">Enviar Notificação</li>
{% endblock %}

{% block main %}
    {% if users|length == 0 %}
        <div class="alert alert-danger text-uppercase">
            <strong>Sem usuários para enviar notificação!</strong>
        </div>
    {% else %}
        <form class="panel form-file" data-url="/push-notifications/save" enctype="multipart/form-data">
            <input type="hidden" name="devices">
            <div class="box mb-2">
                <div class="box-block bg-white">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            {{forms.label('Usuários')}}
                            <select data-placeholder="Selecione o(s) usuário(s)" name="users[]" class="form-control chosen-select" multiple>
                                {% for user in users %}
                                    <option data-onesignal="{{user.getOneSignalPlayer()}}" value="{{user.getId()}}">{{user.getFirstName()|upper}}</option>
                                {% endfor %}
                            </select>
                            <div class="mt-1">
                                <button type="button" class="btn btn-primary label-left select-all">
                                    <div class="btn-label">
                                        <i class="ti-check"></i>
                                    </div>
                                    Marcar Todos
                                </button>
                                <button type="button" class="btn btn-danger label-left deselect-all">
                                    <div class="btn-label">
                                        <i class="ti-close"></i>
                                    </div>
                                    Desmarcar Todos
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-12 form-group">
                            {{forms.label('Título')}}
                            <input type="text" class="form-control" name="title" required maxlength="50">
                        </div>
                        <div class="col-xs-12 form-group">
                            {{forms.label('Descrição')}}
                            <input type="text" class="form-control" name="description" required maxlength="120">
                        </div>
                    </div>
                </div>
                <div class="card-footer text-xs-right" style="display : flex">
                    <div class="acoes" style="margin-left : auto">
                        <button type="submit" class="btn btn-success label-left">
                            <div class="btn-label">
                                <i class="ti-save"></i>
                            </div>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>

    {% endif %}
    
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{base_url_new()}}/assets/css/chosen.min.css" />
<style>
    .chosen-container-single .chosen-single{
        border: 1px solid rgba(0,0,0,.15) !important;
        height : 38px !important;
        box-shadow : none !important;
    }
    .chosen-container-single .chosen-single span{
        margin-top : 6px;
        margin-left : 5px;
    }
    .chosen-container-single .chosen-single div{
        padding-top : 6px !important;
    }
</style>
{% endblock %}

{% block script %}
    <script src="{{base_url_new()}}/assets/js/chosen.jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            

            $(".chosen-select").chosen({
                no_results_text: 'Nenhum resultado encontrado com: '
            });

            $(".chosen-select").change(function(evt,params){
                var users = $(this).chosen().val();
                var devices = "";
                $("select[name='users[]']").find("option").each(function(){
                    for( var i = 0; i < users.length;i++){
                        if ($(this).val() == users[i]){
                            if (devices == ""){
                                devices = $(this).data('onesignal');
                            }else{
                                devices = devices + ',' + $(this).data('onesignal');
                            }
                            break;
                        }
                    }
                });
                $('input[name="devices"]').val(devices);
            });
            
            $('.select-all').click(function(){
                $('.chosen-select option').prop('selected', true); // Selects all options
                $('.chosen-select').trigger('chosen:updated');
                devices = "";
                $("select[name='users[]']").find("option").each(function(){
                    if (devices == ""){
                        devices = $(this).data('onesignal');
                    }else{
                        devices = devices + ',' + $(this).data('onesignal');
                    }
                });
                $('input[name="devices"]').val(devices);
            });
            $('.deselect-all').click(function(){
                $('.chosen-select option').prop('selected', false); // Selects all options
                $('.chosen-select').trigger('chosen:updated');
                $('input[name="devices"]').val("");
            });

        });
    </script>
{% endblock %}