{% extends "layout.twig" %}

{% import 'forms.twig' as forms %}

{% block title_page %}
    {{title}}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">Configurações</li>
    <li class="breadcrumb-item active">Tipos de {{title}}</li>
{% endblock %}

{% block links %}
<button type="button" class="btn btn-success btn-new label-left" data-target="#modal-new-type">
    <div class="btn-label">
        <i class="ti-plus"></i>
    </div>
    Novo
</button>
{% endblock %}

{% block modals %}
<form id="modal-new-type" method="POST" class="modal fade form-file" onsubmit="admin.sendData(this,event);" data-url="tipos/{{type_arg}}/save">
    <input type="hidden" name="id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="close" data-dismiss="modal"><i class="ti-close"></i></div>
                <h3 class="modal-title">Tipo</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label('Ordem')}}
                        <input type="number" class="form-control" name="order_by" min="1" max="1000" value="1">
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label('REF')}}
                        <input type="text" class="form-control" name="ref" required>
                    </div>
                </div>
                <div class="form-group">
                    {{forms.label('Título')}}
                    <input type="text" class="form-control" name="title" required>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <button type="reset" class="btn btn-danger label-left" data-dismiss="modal">
                        <div class="btn-label">
                            <i class="ti-close"></i>
                        </div>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success label-left">
                        <div class="btn-label">
                            <i class="ti-save"></i>
                        </div>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block main %}

<div class="box bg-white">
    <div class="card-body list-box p-0">
        <div class="table-responsive">
            <table class="table table-bordered mb-md-0">
                <thead>
                    <tr>
                        <th width="100" class="text-center text-uppercase">#</th>
                        <th width="200" class="text-center">REF</th>
                        <th>Título</th>
                        <th width="200" class="text-xs-center">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for type in types %}
                        <tr>
                            <td class="text-center vertical-middle">
                                {{type.order_by}}
                            </td>
                            <td class="text-center font-weight-bold vertical-middle">
                               {{type.ref}}
                            </td>
                            <td class="vertical-middle text-uppercase font-weight-bold">
                                {{type.title}}
                            </td>
                            <td class="text-xs-center vertical-middle">
                                <div class="btn-group">
                                    <button class="btn btn-success" onclick="admin.editClick(this)" data-editar="{{type|json_encode}}" data-target="#modal-new-type">
                                        <i data-toggle="tooltip" title="Editar" class="ti-pencil"></i>
                                    </button>
                                    <button class="btn btn-danger" onclick="admin.removeClick(this)" data-link="tipos/{{type_arg}}/delete" data-excluir="{{type.id}}">
                                        <i data-toggle="tooltip" title="Excluir" class="ti-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        {% include 'helpers/not_found_tr.twig' with {'colspan' : 4} %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}