<div class="box bg-white">
    <div class="card-body p-0 list-box">
        {% include "/pages/config/atualizacoes/_list.twig" with {
            list: list.results
        } %}
    </div>
    <div class="card-footer bg-white">
        {% include "/helpers/_pagination-new.twig" with {
            totalPages : list.totalPages, 
            url : 'atualizacoes/paginate',
            actual:actual,
            inicio : inicio,
            fim: fim
        } %}
        {% if list.totalPages > 1 %}
            <div class="info float-xs-right" style="margin-top: -33px;font-weight: bold;text-transform: uppercase;font-size: 13px;">
                Exibindo de {{actual}} até {{list.results|length}} de {{list.totalCount}}
            </div>
        {% else %}
            <div class="info float-xs-right" style="font-weight: bold;text-transform: uppercase;font-size: 13px;">
                Exibindo de {{actual}} até {{list.results|length}} de {{list.results|length}}
            </div>
        {% endif %}
    </div>
</div>