<div class="table-responsive m-0">
    <table class="table table-striped table-bordered table-hover m-0">
        <thead>
            <tr>
                <th class="vertical-middle text-center" width="100">#</th>
                <th class="vertical-middle">Nome/Status</th>
                <th class="vertical-middle text-center" width="200">Celular</th>
                <th width="220" class="text-center">E-mail</th>
                <th class="text-center" width="180">Dt. de Cadastro</th>
                <th class="text-center" width="180">Dt. de Acesso</th>
                {% if user_logged().isAdmin() %}
                    <th class="text-center" width="190">Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for consumidor in list %}
            <tr class="text-uppercase">
                <td class="text-center vertical-middle">
                    {{consumidor.id}}
                </td>
                <td class="vertical-middle">
                    {{consumidor.nome}}
                    <br>
                    {% if consumidor.status == 0 %}
                        <span class="tag tag-danger">Bloqueado</span>
                    {% endif %}
                    {% if consumidor.status == 1 %}
                        <span class="tag tag-success">Ativo</span>
                    {% endif %}
                </td>
                <td class="vertical-middle text-center font-weight-bold">
                    {{consumidor.celular}}
                </td>
                <td class="vertical-middle text-center font-weight-bold">
                    {{consumidor.email is not empty ? consumidor.email : '--'}}
                </td>
                <td class="vertical-middle text-center">
                    {{consumidor.date_insert|date('d/m/Y H:i')}}
                </td>
                <td class="vertical-middle text-center">
                    {{consumidor.date_acesso|date('d/m/Y H:i')}}
                </td>
                {% if user_logged().isAdmin() %}
                    <td class="vertical-middle text-xs-center">
                        <div class="btn-group">
                            {% if consumidor.id_obs is not empty and consumidor.id_obs == 1 %}
                                <button type="button" onclick="removeClick(this);" data-link="consumidores/copy-prospeccao" data-textalert="Deseja copiar os dados para prospecção?" data-excluir="{{consumidor.id}}" class="btn btn-purple">
                                    <i class="ti-filter" data-toggle="tooltip" title="Copiar Prospecção"></i>
                                </button>
                            {% endif %}
                            <button type="button" data-target="#modal-obs" onclick="openObs(this);" class="btn btn-info" data-ref="{{consumidor.id}}" data-date="{{consumidor.date_obs is not empty ? consumidor.date_obs|replace({" " : "T"}) : ''}}" data-obs="{{consumidor.id_obs}}">
                                <i class="ti-pencil-alt" data-toggle="tooltip" title="Observações"></i>
                            </button>
                        </div>
                    </td>
                {% endif %}
            </tr>
            {% else %}
                {% include 'helpers/not_found_tr.twig' with {'colspan' : user_logged().isAdmin() ? 6 : 5} %}
            {% endfor %}
        </tbody>
    </table>
</div>