<div class="row">
    <div class="col-xl-4 col-lg-4 col-not-4 col-md-12 col-xs-12">
        <div class="box box-block bg-white tile tile-1 mb-2">
            <div class="t-icon right"><span class="bg-primary"></span><i class="ti-package"></i></div>
            <div class="t-content">
                <h6 class="text-uppercase font-weight-bold mb-1">Total do Mês {{return_months("now"|date('n'))}}</h6>
                <h1 style="margin-bottom : 10px">{{totals['month']|number_format(0, '.', '.')}}</h1>
                <p class="font-weight-bold text-uppercase">Qtde de pedidos com status {{finish is not empty ? 'finalizado' : 'criado'}}!</p>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-not-4 col-md-12 col-xs-12">
        <div class="box box-block bg-white tile tile-1 mb-2">
            <div class="t-icon right"><span class="bg-info"></span><i class="ti-package"></i></div>
            <div class="t-content">
                <h6 class="text-uppercase font-weight-bold mb-1">Total do ano {{"now"|date('Y')}}</h6>
                <h1 style="margin-bottom : 10px">{{totals['year']|number_format(0, '.', '.')}}</h1>
                <p class="font-weight-bold text-uppercase">Qtde de pedidos com status {{finish is not empty ? 'finalizado' : 'criado'}}!</p>
            </div>
        </div>
    </div>
     <div class="col-xl-4 col-lg-4 col-not-4 col-md-12 col-xs-12">
        <div class="box box-block bg-white tile tile-1 mb-2">
            <div class="t-icon right"><span class="bg-black"></span><i class="ti-package"></i></div>
            <div class="t-content">
                <h6 class="text-uppercase font-weight-bold mb-1">Quantidade Total</h6>
                <h1 style="margin-bottom : 10px">{{totals['all']|number_format(0, '.', '.')}}</h1>
                <p class="font-weight-bold text-uppercase">Qtde de pedidos com status {{finish is not empty ? 'finalizado' : 'criado'}}!</p>
            </div>
        </div>
    </div>
</div>