<label for="inputfile_{{title}}" class="btn label-left btn-info btn btn-inputfile">
    <div class="btn-label"><i class="ti-image"></i></div>
    <span data-title="{{title}}">{{title}}</span>
    <input class="file-img" type="file" name="{{namefile is not empty ? namefile : 'upimage'}}" id="inputfile_{{title}}" accept="image/*" class="d-none hide">
</label>