{% set dados = return_dados() %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- SEO -->
    <title>404 | {{dados != null ? dados.title : 'Faz Agilizar' }}</title>
    <meta name="description" itemprop="description" content="{{dados != null ? dados.description : ''}}" />
    <meta name="keywords" content="{{dados != null ? dados.keywords : ''}}" />
    <meta property="og:locale" content="pt_BR" />
    <meta name="author" content="Grupo Adapta / Agência de Marketing Digital, Criação de Sites, Loja Vitual em Caruaru, Recife, Brasil">

    <link rel="icon" href="{{base_url_new()}}assets/img/favicon.ico?v=1.1.0" />

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{{base_url_new()}}/assets/plugins/bootstrap4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{base_url_new()}}/assets/plugins/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="{{base_url_new()}}/assets/plugins/font-awesome/css/font-awesome.min.css">

    <!-- Neptune CSS -->
    <link rel="stylesheet" href="{{base_url_new()}}/assets/css/core.css">

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="material-design bg-primary">

    <div class="error-message text-xs-center">
        <h1 class="mb-3">404<span><i class="ti-help-alt"></i></span></h1>
        <h5 class="text-uppercase">Página Não Encontrada!</h5>
        <div class="error-message-text mb-3">Desculpe. A página não foi encontrada ou você não tem permissão para ela</div>
        <a href="{{path_for('home')}}" class="btn btn-outline-white w-min-md">Voltar para dashboard</a>
    </div>

    <!-- Vendor JS -->
    <script type="text/javascript" src="{{base_url_new()}}/assets/plugins/jquery/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="{{base_url_new()}}/assets/plugins/tether/js/tether.min.js"></script>
    <script type="text/javascript" src="{{base_url_new()}}/assets/plugins/bootstrap4/js/bootstrap.min.js"></script>
</body>

</html>