{% import "forms.twig" as forms %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Prospecção #{{prospeccao.getId()}}</title>

    <meta name="description" itemprop="description" content="Preencha seus dados para continuar a prospecção" />
    <meta name="keywords" content="cadastro,dados,prospecção" />
    <meta property="og:locale" content="pt_BR" />

    <link rel="icon" href="{{asset('img/favicon.ico?v=1.1.2')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{asset('plugins/bootstrap4/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/loading.css')}}">
    <style>
        body {
            padding: 0px;
            margin: 0px;
            overflow-x: hidden !important;
            font-family: 'Roboto', sans-serif;
            text-rendering: optimizelegibility;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            background-color: #ebebeb;
        }

        .row-flex {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }

        .box {
            background: #fff;
            border-radius: 8px;
            margin-top: 10px;
            padding: 30px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        }

        @media screen and (max-width: 600px) {
            .box {
                padding-left: 20px !important;
                padding-right: 20px !important;
            }
        }

        .box .btn-send {
            box-shadow: none;
            border: 0px;
            cursor: pointer;
            padding: 10px;
            padding-left: 16px;
            padding-right: 16px;
            background: #0052a5;
            color: #fff;
            font-size: 1rem;
            font-weight: bold;
            text-transform: uppercase;
            outline: none !important;
            transition: all 0.2s ease-in-out;
        }

        .box button:focus {
            background: #034792 !important;
            color: #fff !important;
            opacity: 0.9;
        }

        label {
            font-size: 0.8rem;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 3px;
        }

        label span,
        p span {
            color: red;
        }

        p {
            font-size: 0.9rem;
            font-weight: bold;
            margin-bottom: 6px;
        }

        .form-control {
            height: 40px !important;
            border-radius: 0px;
            font-size: 0.9rem;
        }

        .logo {
            display: block;
            width: 120px;
            margin: auto;
            margin-bottom: 10px;
        }
    </style>
</head>

<body>

    {% include '/helpers/_loader.twig' %}

    <div class="main pt-1">
        {% if prospeccao.getForm() == 1 %}
        <section id="message">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-xs-center">
                        <img class="logo" src="{{asset('img/logo.png')}}" alt="Logo">
                        <div class="alert alert-info font-weight-bold text-xs-center">
                            Seus dados foram salvos com sucesso! Aguarde logo você poderá utilizar nosso sistema!
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% else %}
        <section id="home">
            <div class="container">
                <div class="row row-flex">
                    <div class="col-xs-12 text-xs-center">
                        <img class="logo" src="{{asset('img/logo.png')}}" alt="Logo">
                        <h4 class="text-uppercase">Cadastro no Sistema</h4>
                        <p>Preencha os campos obrigatórios, para dá continuidade ao cadastro no sistema!</p>
                    </div>
                    <div class="col-md-10 col-xs-12">
                        <form class="box form-file" data-url="prospeccao/cadastro/save" enctype="multipart/form-data"
                            method="POST">
                            <input type="hidden" name="id_prospeccao" value="{{prospeccao.getId()}}">
                            <div class="form-group">
                                <label for="">Tipo do Documento: <span>*</span></label>
                                <select name="tipo" class="form-control">
                                    <option value="CNPJ">CNPJ</option>
                                    <option value="CPF">CPF</option>
                                </select>
                            </div>
                            <div class="row show-cnpj">
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">CNPJ <span>*</span></label>
                                    <input type="tel" name="cnpj" class="form-control mask-cnpj" required>
                                </div>
                                <div class="col-md-8 col-xs-12 form-group">
                                    <label for="">Razão Social <span>*</span></label>
                                    <input type="text" class="form-control" name="razao_social" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">CPF: <span>*</span></label>
                                    <input type="tel" name="cpf" class="form-control mask-cpf" required>
                                </div>
                                <div class="col-md-8 col-xs-12 form-group">
                                    <label for="">Nome Completo do Responsável: <span>*</span></label>
                                    <input type="text" class="form-control" name="nome" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">Segmento: <span>*</span></label>
                                    <select name="segmento" required class="form-control text-uppercase">
                                        <option value="">Selecione</option>
                                        {% for key,item in list_segmentos %}
                                        <option value="{{key}}">{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">E-mail: <span>*</span></label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">Telefone: <span>*</span></label>
                                    <input type="tel" name="telefone" class="form-control mask-telefone" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Nome pessoa para implantação <span>*</span></label>
                                    <input type="text" class="form-control" name="nome_implantacao" required>
                                </div>
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Telefone com Whatsapp (Implantação) <span>*</span></label>
                                    <input type="tel" class="form-control mask-telefone" name="telefone_implantacao"
                                        required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Instagram:</label>
                                    <input type="text" class="form-control" name="instagram">
                                </div>
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Facebook:</label>
                                    <input type="text" class="form-control" name="facebook">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">Preferência de Cores: <span>*</span></label>
                                    <select name="preferencia_cor" required class="form-control text-uppercase">
                                        <option value="">Selecione</option>
                                        <option value="1">Sim</option>
                                        <option value="2">Não</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">Tipo de Venda: <span>*</span></label>
                                    <select name="tipo_venda" class="form-control text-uppercase" required>
                                        <option value="">Selecione</option>
                                        <option value="1">Atacado</option>
                                        <option value="2">Varejo</option>
                                        <option value="3">Atacado e Varejo</option>
                                    </select>
                                </div>
                                <div class="col-md-4 col-xs-12 form-group">
                                    <label for="">Solicitar e-mail do cliente: <span>*</span></label>
                                    <select name="email_consumidor" class="form-control text-uppercase">
                                        <option value="">Selecione</option>
                                        <option value="1">Sim</option>
                                        <option value="0">Não</option>
                                    </select>
                                </div>
                            </div>
                            <div class="show-obs-cor form-group" style="display:none">
                                <label for="">Observações das cores:</label>
                                <textarea name="obs_cor" placeholder="Escreva mais sobre as cores que quer usar no site" class="form-control" style="height: 80px !important;resize:none !important"></textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Vender Com Estoque: <span>*</span></label>
                                    <select name="com_estoque" required class="form-control text-uppercase">
                                        <option value="0">Sim</option>
                                        <option value="1">Não</option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-xs-12 form-group">
                                    <label for="">Vender com Gênero: <span>*</span></label>
                                    <select name="vende_genero" class="form-control text-uppercase" required>
                                        <option value="0">Não</option>
                                        <option value="1">Sim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    {{forms.label('Formas de Receber:')}}
                                    <select multiple data-trigger placeholder="Selecione..." name="formas_receber[]"
                                        class="form-control">
                                        <option value="0">Retirada na Loja</option>
                                        <option value="1">Entrega</option>
                                        <option value="2">Excursão</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 form-group">
                                    {{forms.label('Formas de Pagamento:')}}
                                    <select multiple data-trigger placeholder="Selecione..." name="formas_pagamento[]"
                                        class="form-control">
                                        {% for key,item in get_formas_pagamentos() %}
                                        <option value="{{key}}">{{item}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 form-group">
                                    <label for="">Público Alvo: <span>*</span></label>
                                    <input type="text" class="form-control" name="publico_alvo" required>
                                </div>
                                <div class="col-xs-12 form-group">
                                    <label for="">Observações:</label>
                                    <textarea placeholder="Apenas texto" name="obs" class="form-control"style="height: 80px !important;resize: none !important"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Endereço:</label>
                                <input type="text" class="form-control" name="endereco" required>
                                <small>Informe a rua ou avenida, número,bairro, cidade e estado!</small>
                            </div>
                            <div class="form-group">
                                <label for="">Logo, no máximo 3MB</label>
                                <input type="file" name="upimage" data-max-file-size="3M" class="dropify"
                                    data-allowed-file-extensions="pdf jpeg jpg png psd cdr" />
                                <small>Se prefirir envie a Logomarca para o E-mail: <a
                                        href="mailto:contato.fazacontecer@gmail.com">contato.fazacontecer@gmail.com</a>
                                    ou para o WhatsApp: <a href="https://api.whatsapp.com/send?phone=5581997022695">(81)
                                        99702-2695</a></small>
                            </div>
                            <p>Os campos com <span>*</span> são obrigatórios!</p>
                            <div class="action text-xs-right">
                                <button class="btn-send" type="submit">
                                    <i class="ti-save"></i>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

    </div>

    <link rel="stylesheet" href="{{asset('plugins/choices/choices.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/dropify/dist/css/dropify.min.css')}}">
    <script>
        window.BASE_URL = '{{base_url_new()}}';
    </script>
    <script type="text/javascript" src="{{asset('plugins/jquery/jquery-1.12.3.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/tether/js/tether.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/bootstrap4/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.mask.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/sweetalert2.all.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/choices/choices.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/dropify/dist/js/dropify.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/location.js')}}"></script>
    <script src="{{asset('js/axios.min.js')}}"></script>
    <script src="{{asset('js/forms.js?v=1.3.5')}}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var genericExamples = document.querySelectorAll('[data-trigger]');
            for (i = 0; i < genericExamples.length; ++i) {
                var element = genericExamples[i];
                new Choices(element, {
                    removeItemButton: true,
                    placeholderValue: 'This is a placeholder set in the config',
                    searchPlaceholderValue: 'This is a search placeholder',
                });
            }
        });

        $(document).ready(function () {

            $("select[name='preferencia_cor']").on('change',function(){
                var val = $(this).val();
                if (val == 1){
                    $(".show-obs-cor").fadeIn();
                }else{
                    $(".show-obs-cor").fadeOut();
                }
            });

            $('.mask-cpf').mask('000.000.000-00', {
                reverse: true
            });
            $('.mask-telefone').mask('(00) 00000-0000');
            $('.mask-cep').mask('00000-000');
            $(".mask-cnpj").mask("00.000.000/0000-00");

            $('.dropify').dropify({
                messages: {
                    'default': 'Arraste e solte ou clique',
                    'replace': 'Arraste e solte ou clique para alterar',
                    'remove': 'Remover',
                    'error': 'Ooops, Algo deu errado.'
                }
            });

            $("select[name='tipo']").on('change', function () {
                var val = $(this).val();
                console.log(val);
                if (val == 'CNPJ') {
                    $(".box").find('.show-cnpj').fadeIn().find('input').attr('required', true);
                } else {
                    $(".box").find('.show-cnpj').fadeOut().find('input').removeAttr('required');
                }
            });

        });
    </script>

</body>

</html>