{% set dados = return_dados() %}
{% spaceless %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
	<!-- Meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- SEO -->
	<title>{{dados != null ? dados.title : 'Forte Ferragens' }}</title>
	<meta name="description" itemprop="description" content="{{dados != null ? dados.description : ''}}" />
	<meta name="keywords" content="{{dados != null ? dados.keywords : ''}}" />
	<meta property="og:locale" content="pt_BR" />

	<link rel="icon" href="{{asset('img/favicon.ico?v=1.1.5')}}" />

	<!-- Vendor CSS -->
	<link rel="stylesheet" href="{{asset('plugins/bootstrap4/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/themify-icons/themify-icons.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/animate.css/animate.min.css')}}">
	<link rel="stylesheet" href="{{asset('plugins/jscrollpane/jquery.jscrollpane.css')}}">

	<!-- Neptune CSS -->
	<link rel="stylesheet" href="{{asset('css/core.css')}}">
	<link rel="stylesheet" href="{{asset('css/admin-update.css?v=1.2.3')}}">
	<link rel="stylesheet" href="{{asset('css/loading.css?v=1.5.0')}}">
	<style>
		input,select{
			outline : none !important;
			box-shadow : none !important;
		}
		.breadcrumb-content h4{
			text-transform : uppercase;
			font-size : 1.4rem !important;
		}
		@media screen and (max-width :650px){
			footer{
				position: static !important;
			}
		}
	</style>

	{% block style %}{% endblock %}

	<!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
</head>

<body class="material-design fixed-sidebar fixed-header fixed-footer skin-default content-appear">
	<div class="wrapper">

		{% include '/helpers/_loader.twig' %}

		{% block modals %}{% endblock %}
		
		<!-- Sidebar -->
		<div class="site-overlay"></div>
		{% include 'helpers/sidebar.twig' %}

		<!-- Header -->
		{% include 'helpers/header.twig' with {
			dados: dados
		} %}

		<div class="site-content">
			<!-- Content -->
			<div class="content-area py-1">
				<div class="container-fluid">
					<div class="breadcrumb-content">
						<h4>{% block title_page %}{% endblock %}</h4>
						<ol class="breadcrumb no-bg mb-1">
							<li class="breadcrumb-item"><a href="{{path_for('home')}}"><i class="ti-home mr-0-25"></i>Dashboard</a></li>
							{% block breadcrumb %}{% endblock %}
						</ol>
						<div class="btn-group page-links pull-right">
							{% block links %}{% endblock %}
						</div>
					</div>
					{% block main %}{% endblock %}
				</div>
			</div>
			<!-- Footer -->
			{% include 'helpers/footer.twig' %}
		</div>

	</div>

	<!-- Vendor JS -->
	<script type="text/javascript" src="{{asset('plugins/jquery/jquery-1.12.3.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/tether/js/tether.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/bootstrap4/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/detectmobilebrowser/detectmobilebrowser.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/jscrollpane/jquery.mousewheel.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/jscrollpane/mwheelIntent.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/jscrollpane/jquery.jscrollpane.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('plugins/jquery-fullscreen-plugin/jquery.fullscreen-min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery.mask.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery.maskMoney.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/sweetalert2.all.min.js')}}"></script>
	<script src="{{asset('plugins/ckeditor/ckeditor.js')}}"></script>
	
	<!-- SCRIPTS !-->
	<script>
		window.BASE_URL = '{{base_url_new()}}';
	</script>
	<!-- Neptune JS -->
	<script type="text/javascript" src="{{asset('js/app.js?v=1.0.3')}}"></script>
	<script type="text/javascript" src="{{asset('js/mask.js?v=1.2.0')}}"></script>
	<script type="text/javascript" src="{{asset('js/admin.js?v=3.3.5')}}"></script>
	{% block script %}{% endblock %}
</body>

</html>
{% endspaceless %}