{% set dados = return_dados() %}
<!DOCTYPE html>
<html>

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="icon" href="{{asset('img/favicon.ico?v=1.1.5')}}" />

    <!-- SEO -->
    <title>{{dados.title}} | Login</title>
    <meta name="description" itemprop="description"
        content="{{dados is empty ? 'Descrição Sistema' : dados.description}}" />
    <meta name="keywords" content="{{dados is empty ? 'Forte Ferragens' : dados.keywords}}" />
    <meta property="og:locale" content="pt_BR" />

    <link rel="stylesheet" href="{{asset('plugins/bootstrap4/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/themify-icons/themify-icons.css')}}">
    <link rel="stylesheet" href="{{asset('plugins/font-awesome/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('css/auth.css')}}" />
    <link rel="stylesheet" href="{{asset('css/loading.css?v=1.5.0')}}" />
    <link rel="stylesheet" href="{{asset('css/auth-update.css?v=1.5.5')}}" />
    <style>
        input,
        select {
            outline: none !important;
            box-shadow: none !important;
        }

        .back-effect {
            position: fixed;
            background: rgba(17, 63, 125, 0.9);
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
        }

        .container-fluid {
            position: relative;
            z-index: 1;
        }

        @media screen and (max-width: 650px) {
            .back-effect {
                background: #fff !important;
            }

            body {
                background: #fff !important;
            }

            .login-box img {
                width: 80px !important;
            }
        }

        .form-group {
            position: relative;
        }

        .form-group i {
            position: absolute;
            top: 50%;
            left: 15px;
            color: #1268fc;
            transform: translateY(-50%);
            right: auto !important;
        }

        .form-group input {
            padding-left: 40px;
        }

        .form-group button {
            padding: 0px !important;
            margin: 0px;
            position: absolute;
            top: 50%;
            right: 15px;
            cursor: pointer;
            transform: translateY(-50%);
            outline: none !important;
            border: 0px !important;
            background: transparent !important;
        }

        .form-group button i {
            transition: all 0.2s ease-in-out;
            color: #a6a3a3 !important;
            position: static !important;
            transform: none !important;
        }

        .form-group button:hover i {
            color: #1268fc !important;
        }

        .form-group button.active i {
            color: #1268fc !important;
        }
    </style>

</head>

<body style="background-color: #f2f2f2">

    {% include '/helpers/_loader.twig' %}

    <!-- MODAL ESQUECI MINHA SENHA !-->
    <form class="modal-recuperar modal fade" id="esqueceu-senha" data-url="recuperar"
        onsubmit="admin.sendData(this,event);" method="post" tabindex="-1" role="dialog"
        aria-labelledby="esqueceuSenhaLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="ti-close"></i>
                    </button>
                    <h4 class="modal-title" id="esqueceuSenhaLabel">Recuperar Senha</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Digite seu e-mail" name="email" required="required"
                        class="form-control">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">
                        <span>Enviar</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- END MODAL ESQUECI MINHA SENHA !-->

    <div class="container-fluid p-0">
        <div class="row m-0 justify-content-end">
            <div class="p-0 col col-md-auto col-12 text-center">
                <div class="login-box text-center" style="padding-bottom: 30px;padding-top:30px;">

                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-md-auto col-10 col-md-8 m-b-30">
                                <a href="{{path_for("index")}}">
                                    <img style="width:90px" src="{{asset('img/logo.png')}}" alt="{{dados.title}}">
                                </a>
                            </div>
                        </div>

                        <form class="m-b-20 form-login form-file login-icon" data-url="login"
                            onsubmit="admin.sendData(this,event)" method="post" autocomplete="off">
                            <div class="form-group">
                                <i class="ti-user"></i>
                                <input type="text" name="username" class="form-control rounded-0 form-control-lg"
                                    placeholder="E-mail ou login" required="required" />
                            </div>
                            <div class="form-group">
                                <i class="ti-key"></i>
                                <input type="password" name="password" class="form-control rounded-0 form-control-lg"
                                    placeholder="Senha" required="required" />
                                <button type="button" onclick="showPass(this);" class="show-pass">
                                    <i class="ti-eye"></i>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-lg btn-info rounded-0 btn-block">
                                <span>
                                    <i class="ti-check"></i>
                                    Entrar
                                </span>
                            </button>
                        </form>
                        <a style="font-size: 14px;" class="d-block m-t-10 font-weight-bold" href="#" data-toggle="modal"
                            data-target="#esqueceu-senha">Esqueci minha senha</a>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <!-- SCRIPTS !-->
    <script>
        window.BASE_URL = '{{base_url_new()}}';
    </script>
    <script type="text/javascript" src="{{asset('plugins/jquery/jquery-1.12.3.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/tether/js/tether.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('plugins/bootstrap4/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.mask.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.maskMoney.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/mask.js?v=1.2.0')}}"></script>
    <script type="text/javascript" src="{{asset('js/sweetalert2.all.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/admin.js')}}"></script>
    <script>
        function showPass(el) {
            if (!$(el).hasClass('active')) {
                $(el).closest('.form-group').find('input').attr('type', 'text');
                $(el).addClass('active');
            } else {
                $(el).closest('.form-group').find('input').attr('type', 'password');
                $(el).removeClass('active');
            }
        }
    </script>
</body>

</html>