<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint lang="pt-br">

<head>
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- SEO -->
    <title>Relatório de Clientes</title>
    <link rel="icon" href="{{base_url_new()}}/assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{base_url_new()}}/assets/plugins/bootstrap4/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet">
    <style type="text/css" media="print">
        @page {
            size: auto;
            /* auto is the initial value */
            margin-top: 0.4rem;
            margin-bottom: 0.4rem;
        }
    </style>
    <style>
        a[href]:after {
            content: none !important;
        }

        .p-a-0 {
            padding: 0px !important;
        }

        .col-print {
            padding-left: 10px;
            padding-right: 10px;
        }

        .col-print-1 {
            width: 8%;
            float: left;
        }

        .col-print-2 {
            width: 16.5%;
            float: left;
        }

        .col-print-3 {
            width: 25%;
            float: left;
        }

        .col-print-4 {
            width: 33%;
            float: left;
        }

        .col-print-5 {
            width: 42%;
            float: left;
        }

        .col-print-6 {
            width: 50%;
            float: left;
        }

        .col-print-7 {
            width: 58%;
            float: left;
        }

        .col-print-8 {
            width: 66%;
            float: left;
        }

        .col-print-9 {
            width: 75%;
            float: left;
        }

        .col-print-10 {
            width: 83%;
            float: left;
        }

        .col-print-11 {
            width: 92%;
            float: left;
        }

        .col-print-12 {
            width: 100%;
            float: left;
        }

        body {
            font-family: 'Open Sans', sans-serif;
            padding: 0px;
            margin: 0px;
            font-size: 0.7rem;
            padding-top: 10px;
        }

        .box {
            position: relative;
            display: block;
            margin-bottom: 0.95rem;
            border: 1px solid #cecece;
        }

        .card-header {
            padding: .6rem 1rem !important;
            margin-bottom: 0;
            background-color: #313131;
            color: #fff;
            -webkit-print-color-adjust: exact;
            border-bottom: 1px solid #cecece;
            position: relative;
        }

        .box-block {
            padding: 1.25rem;
            padding-top: 10px;
            background: #fff;
        }

        .tpl-cadastro-info {
            margin: 4px 0;
            padding-bottom: 5px;
            padding-top: 4px;
            text-transform: uppercase;
            border-bottom: 1px solid #cecece;
        }

        .content-assinar {
            padding-bottom: 5px;
            padding-top: 5px;
            height: 30px;
            font-size: 14px;
            border-bottom: 1px solid #cecece;
        }

        .tpl-cadastro-info strong {
            display: block;
            text-transform: uppercase;
        }

        .tpl-cadastro-info span:empty::before {
            content: "Nao informado";
            opacity: 0.3;
        }

        .content-logo {
            margin-bottom: 15px;
            text-align: center;
        }

        .content-logo img {
            width: 90px;
        }

        .content-logo h4 {
            margin-top: 10px;
            margin-bottom: 0px;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.9rem;
        }

        .row-produto {
            padding-bottom: 5px;
            padding-top: 10px;
            border-bottom: 1px solid #cecece;
        }

        .title-produto {
            font-size: 0.7rem;
            font-weight: bold;
            margin-top: 6px;
            margin-bottom: 0px;
            text-transform: uppercase;
            text-align: left;
        }

        .img-cover {
            display: block;
            margin: auto;
        }

        .desc-produto {
            font-size: 0.6rem;
            margin-bottom: 0px;
        }

        .valor-produto {
            font-weight: bold;
            font-size: 0.7rem;
            margin-top: 15px;
        }

        .quant-produto {
            font-weight: bold;
            font-size: 0.7rem;
            margin-top: 15px;
        }

        .header-row-desc {
            background: #f5f5f5;
            -webkit-print-color-adjust: exact;
            padding: 10px;
            display: block;
            margin: 0px;
            font-weight: bold;
            font-size: 0.6rem;
            text-transform: uppercase;
            border-right: 1px solid #fff;
        }

        .tag {
            -webkit-print-color-adjust: exact;
        }

        .vertical-middle {
            vertical-align: middle !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-uppercase{
            text-transform: uppercase !important;
        }

        @media print {
            .pagebreak {
                page-break-before: always;
            }

            body {
                padding-top: 25px;
            }

            table {
                page-break-inside: auto
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
                -webkit-print-color-adjust: exact;
                font-size: {{is_admin ? '0.6rem' : '0.65rem'}};
            }

            td {
                -webkit-print-color-adjust: exact;
                font-size: {{is_admin ? '0.6rem' : '0.65rem'}};
            }

            th {
                -webkit-print-color-adjust: exact;
            }

            thead {
                display: table-header-group;
                -webkit-print-color-adjust: exact;
            }

            tfoot {
                display: table-footer-group;
            }

            /* page-break-after works, as well */
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="content-logo">
                    {% if logo is not empty %}
                    <img src="{{base_url_new()}}assets/uploads/{{logo}}">
                    {% else %}
                    <img src="{{base_url_new()}}assets/img/logo.png">
                    {% endif %}
                    <h4>Relatório de Clientes</h4>
                </div>

                <div class="table-responsive m-0">
                    <table class="table table-striped table-bordered table-hover m-0">

                        <colgroup>
                            <col span="1" style="width: {{is_admin ? '22' : '36'}}%;">
                            <col span="1" style="width: {{is_admin ? '15' : '18'}}%;">
                            <col span="1" style="width: {{is_admin ? '24' : '28'}}%;">
                            <col span="1" style="width: {{is_admin ? '13' : '18'}}%;">
                            {% if is_admin %}
                            <col span="1" style="width: 15%;">
                            <col span="1" style="width: 11%;">
                            {% endif %}
                        </colgroup>

                        <thead>
                            <tr>
                                <th class="vertical-middle">Nome</th>
                                <th class="vertical-middle text-center">Celular</th>
                                <th class="text-center vertical-middle">E-mail</th>
                                <th class="text-center">Dt. de Cadastro</th>
                                {% if is_admin %}
                                <th class="vertical-middle text-center">Observações</th>
                                <th class="vertical-middle text-center">Mais Obs</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for consumidor in consumidores %}
                            <tr class="text-uppercase">
                                <td class="vertical-middle">
                                    {{consumidor.nome}}
                                </td>
                                <td class="vertical-middle text-center font-weight-bold">
                                    {{consumidor.celular}}
                                </td>
                                <td style="word-break: break-word" class="vertical-middle text-center font-weight-bold">
                                    {{consumidor.email is not empty ? consumidor.email : '--'}}
                                </td>
                                <td class="vertical-middle text-center">
                                    {{consumidor.date_insert|date('d/m/Y H:i')}}
                                </td>
                                {% if is_admin %}
                                    <td class="vertical-middle text-center">
                                        {% if consumidor.id_obs is not empty %}
                                        {{consumidor.title_obs}}
                                        <br>
                                        <strong>{{consumidor.date_obs is not empty ? consumidor.date_obs|date('d/m/Y \\-\\ H:i') : ''}}</strong>
                                        {% else %}
                                        --
                                        {% endif %}
                                    </td>
                                    <td class="vertical-middle text-center"></td>
                                {% endif %}
                            </tr>
                            {% else %}
                                {% include 'helpers/not_found_tr.twig' with {'colspan' : is_admin ? 6 : 4} %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
    <script>
        window.print();
    </script>
</body>