{% import 'forms.twig' as forms %}

<form class="modal fade form-file" data-url="informativos/save" id="modal-new-alert" enctype="multipart/form-data">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Novo</h3>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="ti-close"></i>
                </button>
            </div>
            <div class="modal-body pb-0 clearfix">
                <div class="row">
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label('Título')}}
                        <input type="text" class="form-control" name="title" required>
                    </div>
                    <div class="col-md-6 col-xs-12 form-group">
                        {{forms.label('Assunto','Informe o assunto que vai no e-mail')}}
                        <input type="text" class="form-control" name="subject" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        {{forms.label('Tipos de Usuários','Selecione os tipos para filtrar a quantidade de usuários')}}
                        <select name="type_users[]" data-placeholder="Selecione os tipos" multiple class="chosen-select form-control">
                            {% for key,type in types_users() %}
                                <option value="{{key}}">{{type}}</option>
                            {% endfor %}
                        </select>
                        <div class="btn-group mt-1">
                            <a href='javascript:void(0)' class="btn select btn-info label-left mr-1">
                                <div class="btn-label">
                                    <i class="ti-check"></i>
                                </div>
                                Selecionar Todos
                            </a>
                            <a href='javascript:void(0)' class="btn btn-danger deselect label-left">
                                <div class="btn-label">
                                    <i class="ti-close"></i>
                                </div>
                                Remover Todos
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <input type="hidden" name="users">
                        <div class="alert alert-info">
                            Selecione os tipos para filtrar a quantidade de usuários para enviar o e-mail<br>
                            <span class="quant_users font-weight-bold">0</span> Usuários Selecionados!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        {{forms.label('Mensagem','Escreva aqui o contéudo da mensagem que vai no e-mail')}}
                        <textarea name="message"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <button type="reset" class="btn btn-danger label-left" data-dismiss="modal">
                        <div class="btn-label">
                            <i class="ti-close"></i>
                        </div>
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-success label-left">
                        <div class="btn-label">
                            <i class="ti-save"></i>
                        </div>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>