{% extends "email/base_email.twig" %}

{% block title %}{{title}}{% endblock %}

{% block main %}
<div
    style="position : relative;z-indez: 1;padding: 30px;paddding-top : 15px; background: #fff;box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);border-radius: 8px">
    <img src="{{base_url_new()}}assets/img/logo{{extesion_image}}"
        style="width : 200px;display : block;margin : auto;">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tbody>
            <tr>
                <td>
                    <p style="line-height : 1.4rem;margin-top : 10px">{{description|raw}}</p>
                    <h1 style="font-size: 18px;text-transform: uppercase;margin-bottom : 15px;margin-top : 30px;text-align: center;display : block">#{{code}}</h1>
                    <p> <a href="{{base_url_new()}}" style="display: inline-block; padding: 12px 30px; font-weight : bold; font-size: 15px; color: #fff; background: #3e70c9; border-radius: 40px; text-decoration:none;"> Acessar sistema</a></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}